@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #ffffff;   /* light by default */
  --color-fg: #0a0a0a;
}

.dark {
  --color-bg: #0a0a0a;   /* dark override */
  --color-fg: #eeeffc;
}